// $picnic-nav-sides: 0;
$picnic-nav-position: inherit;
$theme-dark-color: #222;
$green: #00AA55;

@import "../../node_modules/picnic/src/picnic.scss";

nav.dark {
  background-color: $theme-dark-color;
}

// Bug fix in the template. The card somehow does not react well for no apparent reason.
// This is not the proper solution especially if you start using card within a popup.
article.card {
  header,
    content,
    footer {
      position: inherit !important;
    }

  position: inherit !important;
}

@media all and (max-width: $picnic-breakpoint) {
  %nav {
    .burger~.menu {
      background-color: $theme-dark-color;
    }

    .brand {
      max-width: initial;
    }

    .menu {
      .nav-item {
        color: #CCC;
      }

      .nav-item.active {
        color: #fff;
        background: rgb(28, 66, 92);
      }
    }
  }
}

@media all and (min-width: $picnic-breakpoint) {
  $picnic-nav-width: 18em !default;
  // $picnic-nav-height_custom: inherit !important;

  .main {
    display: inline-flex;
    min-height: 100%;
    width: 100%;
  }

  .main-content {
    width: calc(100% - #{$picnic-nav-width});
    margin-left: 0.5em;
  }

  %nav,
  .main-content {
    display: inline-block;
    vertical-align: top;
  }

  %nav {
    z-index: inherit;
    background: $theme-dark-color;
    right: inherit;
    width: $picnic-nav-width;
    height: inherit;
    padding: inherit;

    .brand {
      padding: 0.5em 0;
      border-bottom: 1px #666 solid;
      max-width: inherit;
      font-size: 20px;
    }

    .brand,
    .menu {
      float: inherit;
      top: auto;
      clear: both;
      padding-left: 0.5em;
      display: block;

      // position: relative;
      -webkit-transform: inherit;
      transform: inherit;

      .nav-item {
        display: block;
        padding: 0.4em;
        padding-left: inherit;
        width: 100%;
        color: #CCC;
      }

      .nav-item.active {
        color: #fff;
        background: rgb(28, 66, 92);
      }
    }

    .menu {
      padding-top: 0.5em;
    }
  }
}

table {
  thead {
    font-size: 0.9em;
    white-space: nowrap;

    tr {
      th {
        background-color: $theme-dark-color;
      }
    }
  }
}

.page-title {
  border-bottom: 1px solid #ddd;
  margin-bottom: 1em;
  margin-left: -0.5em;
  padding-left: 0.5em;

  h1 {
    padding: 0.1em;
  }
}
